<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="metadataloadtest.android.lolofinil.com.metadataloadtest" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="BooleanT" android:value="true" />
        <meta-data android:name="BooleanF" android:value="false" />
        <meta-data android:name="Int" android:value="12345" />
        <meta-data android:name="Long" android:value="9123456789" />
        <meta-data android:name="ShortFloat" android:value="1.2345" />
        <meta-data android:name="LongFloat" android:value="12345.67890" />
        <meta-data android:name="LongLongFloat" android:value="123456789123456789.123456789123456789" />
        <meta-data android:name="NumberInString" android:value="\ 9123456789" />
    </application>

</manifest>
